.article-card {
  display: flex;
  margin: 10px;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  text-decoration: none;
  color: black;
}

.article-card > img {
  max-width: 50%;
  margin-right: 5px;
  border-radius: inherit;
  object-fit: cover;
  min-height: 200px;
}

.article-card > summary {
  max-width: 50%;
  margin-right: 5px;
  border-radius: inherit;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-card > summary > * {
  margin: 1px;
}

.article-card-author {
  font-style: italic;
}

.article-card-topic {
  color: rgb(0, 0, 152);
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#root {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: small;
}

.article {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 600px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.article > * {
  margin-left: 10px;
  margin-right: 10px;
}

.article > img {
  margin: 0px;
}

.article-body {
  text-align: justify;
  text-justify: inter-word;
}

.border {
  border-top: solid #7d7d7d;
  flex-grow: 1;
}

.bold-text {
  font-weight: bold;
}

.comment-body {
  font-size: x-small;
  margin: 0px;
}

.comment-head {
  margin: 0px;
  margin-top: 2vh;
}

.comment-votes {
  margin: 0px;
}

.comment-section {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 600px;
}

.error-text {
  font-weight: bold;
  color: red;
}

nav {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

nav > * {
  margin-left: 5px;
  margin-right: 5px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 600px;
  margin-bottom: 10px;
  font-size: small;
}

.comment-submit {
  float: right;
  margin-left: auto;
}

h4 {
  font-size: large;
}
